.search {
  width: 100%;
  box-sizing: border-box;
  padding: 32px 30px;
}

.masonry-container {
  max-width: 400px;
  margin: 35px auto 0;
}

@media (min-width: 900px) {
  .search {
    padding: 32px 90px;
  }

  .masonry-container {
    max-width: 1300px;
  }
}
