.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  gap: 10px;
}

.navbar__logo {
  padding: 10px;
  margin: -10px;
}
